.DS_Store
src/config/configstore
src/config/fish
src/config/gtk-2.0
src/config/heroku
src/config/nvim/autoload/
src/config/nvim/plugged/
src/config/nvim/shada/
src/config/nvim/spell/
src/config/nyaovim
src/config/oni
src/tmux
